// Заголовки, общие БЄМ блоки и проче...
.title {
 @include adaptiveValue("font-size", 40, 25);
 @include adaptiveValue("margin-bottom", 35, 20);
 line-height: math.div(40, 40);
}

.btn {
 display: inline-block;
 font-size: rem(15);
 line-height: math.div(24, 15);
 color: $accentColor;
 background-color: $btnColor; 
 border-radius: rem(5);
 border: rem(1) solid transparent;
 transition: all 0.5s;
 &:hover {
  background-color: $accentColor;
  color: $btnColor;
  border-color: $btnColor;
 }
}

.logo {
 @include adaptiveValue("margin-right", 80, 15);
 @media (max-width: $tablet) {
  margin-right: 0;
 }
}

.breadcrumbs {
 padding: rem(20) 0;
 // .breadcrumbs__list
 &__list {
  display: flex;
  align-items: center;
  gap: rem(20);
 }
 // .breadcrumbs__item
 &__item {
 }
 // .breadcrumbs__link
 &__link {
  line-height: math.div(24, 16);
 }
}

.arrows {
 display: flex;
 justify-content: center;
 gap: rem(20);
}
.swiper-button-prev,
.swiper-button-next {
 width: rem(14);
 height: rem(14);
 position: relative;
 &::before {
  @include pseudo;
  @include background(url("../img/icons/arrow-slider.svg"));
  width: rem(15);
  height: rem(15);
  transform: rotate(90deg);
 }
}
.swiper-button-prev::before {
 transform: rotate(-90deg);
}