//====================================================================================================
.about {
 background-color: $bgColor;
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 // .about__inner
 &__inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .about__info
 &__info {
  max-width: rem(480);
  width: 100%; 
  margin-right: rem(20);
  @media (max-width: $tablet) {
   margin-right: 0;
   margin-bottom: rem(25);
   max-width: 100%;
  }
 }
 // .about__title
 &__title {
  font-weight: 800;
  @include adaptiveValue("font-size", 50, 30);
  line-height: math.div(60, 50);
  margin-bottom: rem(21);
 }
 // .about__text
 &__text {
  line-height: math.div(24, 16);
  margin-bottom: rem(30);
 }
 // .about__link
 &__link {
  padding: rem(13) rem(50);
  @media (max-width: $mobileSmall) {
   width: 100%;
   text-align: center;
  }
 }
 // .about__images
 &__images {
  display: grid;
  gap: rem(30);
  grid-template-rows: repeat(2, 162px);
  @media (max-width: $tablet) {
   display: none;
  }
 }
 // .about__image
 &__image {
  &:nth-child(2) {
   grid-area: 2/1/2/2;
  }
  &_big {
   grid-area: 1/2/1/2;
  }
  @media (max-width: $tablet) {
   height: 344px;
   width: 100%;
  }
 }
 // .about__slider 
 &__slider {
  display: none;
  @media (max-width: $tablet) {
   display: block;
  } 
 }
 // .about__wrapper 
 &__wrapper {
  margin-bottom: rem(25);
 }
}
//====================================================================================================
.lumber {
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 // .lunber__slider 
 &__slider {
  display: none;
  @media (max-width: $mobile) {
   display: block;
  }
 }
 // .lumber__wrapper 
 &__wrapper {
  margin-bottom: rem(25);
 }
 // .lumber__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: rem(30);
  @media (max-width: $mobile) {
   display: none;
  }
 }
 // .lumber__item
 &__item {
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  transition: all 0.5s; 
  cursor: pointer;
  &:hover {
   border-color: $btnColor;
  }
 }
 // .lumber__image 
 &__image {
  margin-top: -1px;
  margin-bottom: rem(14);
  width: 100%;
 } 
 // .lumber__info
 &__info {
  padding: 0 rem(19) rem(19);
 }
 // .lumber__item-title
 &__item-title {
  font-weight: 700;
  font-size: rem(18);
  line-height: math.div(24, 18);
 }
 // .lumber__price
 &__price {
  display: inline-block;
  line-height: math.div(24, 16);
  margin-bottom: rem(12);
 }
 // .lumber__btn
 &__btn {
  display: block;
  width: 100%;
  padding: rem(13) 0;
 }
 // .lumber__request
 &__request {
  @include background(url("../img/technique/request-bg.jpg"));
  background-position: bottom;
  border-radius: rem(10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 rem(30);
 }
 // .lumber__request-title
 &__request-title {
  font-weight: 700;
  line-height: math.div(24, 16);
  color: $accentColor;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(30);
  position: relative; 
  &::before {
   @include pseudo;
   @include background(url("../img/icons/request-price.svg"));
   width: rem(54);
   height: rem(54);
   left: 50%;
   top: -65px;
   transform: translateX(-50% );
  }
 }
 // .lumber__request-link
 &__request-link {
  width: rem(47);
  height: rem(47);
  background-color: $accentColor;
  border-radius: 50px;
  position: relative;
  border: rem(1) solid transparent;
  transition: all 0.5s;
  &:hover {
   border-color: $mainColor;
  }
  &::before {
   @include pseudo;
   @include background(url("../img/icons/arrow-green.svg"));
   width: rem(10);
   height: rem(18);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  }
 }
}
//====================================================================================================
.information {
 @include background(url("../img/information/bg.jpg"));
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 // .information__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: rem(18);
 }
 // .information__item
 &__item {
  background-color: $bgColor;
  border-radius: rem(10);
  height: rem(191);
  padding: rem(95) rem(10) rem(24) rem(19);
  transition: all 0.5s;
 }
 // .information__text
 &__text {
  font-weight: 500;
  line-height: math.div(24, 16);
  position: relative; 
  max-width: 100%;
  @media (max-width: $mobileSmall) {
   text-align: center;
  }
  &::before {
   @include pseudo;
   left: 0;
   top: rem(-65);
   @media (max-width: $mobileSmall) {
    left: 50%;
    transform: translateX(-50%);
   }
  }
  &_forest::before {
   @include background(url("../img/information/forest.svg"));
   width: rem(45);
   height: rem(54);
  }
  &_storage::before {
   @include background(url("../img/information/storage.svg"));
   width: rem(64);
   height: rem(50);
  }
  &_map::before {
   @include background(url("../img/information/map.svg"));
   width: rem(55);
   height: rem(53);
  }
  &_pay::before {
   @include background(url("../img/information/payment.svg"));
   width: rem(62);
   height: rem(62);
  }
  &_sawing::before {
   @include background(url("../img/information/sawing.svg"));
   width: rem(58);
   height: rem(58);
  } 
 }
}
//====================================================================================================
.services {
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 background-color: $bgColor;
 // .services__items
 &__items {
  display: grid;
  @include adaptiveValue("gap", 28, 10);
  grid-template-columns: repeat(auto-fit, minmax(200px, 370px) minmax(150px, 280px) minmax(370px, 1fr));
  grid-template-rows: repeat(2, 377px);
  @media (max-width: $tablet) {
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(4, auto);
  }
  @media (max-width: $mobile) {
   display: block;
  }
 }
 // .services__item
 &__item {
  display: flex;
  flex-direction: column;
  &_big {
   grid-area: 1/3/3/4;
   p {
    max-width: rem(285);
   }
   img {
    height: 80%;
   }
   @media (max-width: $tablet) {
    grid-area: 3/1/4/3;
   }
  }
  @media (max-width: $mobile) {
   &:not(:last-child) {
    margin-bottom: rem(25);
   }
  }
 }
 // .services__image
 &__image {
  margin-bottom: rem(16);
  @media (max-width: $tablet) {
   width: 100%;
   height: 100%;
  }
 }
 // .services__item-title
 &__item-title {
  font-weight: 700;
  font-size: rem(18);
  line-height: math.div(24, 18);
  margin-bottom: rem(2);
 }
 // .services__text
 &__text {
  font-size: rem(15);
  line-height: math.div(24, 15);
  @media (max-width: $mobile) {
   margin-bottom: rem(20);
  }
 }
 // .services__btn
 &__btn {
  padding: rem(13) rem(54);
  width: fit-content;
  margin-top: auto;
  text-align: center;
  @media (max-width: $mobileSmall) {
   width: 100%;
  }
 }
}
//====================================================================================================
.benefits {
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 // .benefits__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: rem(18);
 }
 // .benefits__item
 &__item {
  border: 1px solid #C7C7C7;
  border-radius: rem(7);
  height: rem(162);
  padding: rem(90) rem(30) rem(23) rem(25);
 }
 // .benefits__text
 &__text {
  line-height: math.div(24, 16);
  position: relative;
  @media (max-width: $mobileSmall) {
   text-align: center;
  }
  &::before {
   @include pseudo;
   left: 0;
   top: rem(-65);
   @media (max-width: $mobileSmall) {
    left: 50%;
    transform: translateX(-50%);
   }
  }
  // .benefits__text_product
  &_product {
   //max-width: rem(108);
   &::before {
    @include background(url("../img/benefits/production.svg"));
    width: rem(57);
    height: rem(57);
   }
  }
  // .benefits__text_price
  &_price {
   //max-width: rem(122);
   &::before {
    @include background(url("../img/benefits/finance.svg"));
    width: rem(57);
    height: rem(57);
   }
  }
  // .benefits__text_pay
  &_pay {
   //max-width: rem(115);
   &::before {
    @include background(url("../img/benefits/card.svg"));
    width: rem(54);
    height: rem(54);
   }
  }
  // .benefits__text_quality
  &_quality {
   //max-width: rem(162);
   &::before {
    @include background(url("../img/benefits/quality.svg"));
    width: rem(55);
    height: rem(55);
   }
  }
  // .benefits__text_delivery
  &_delivery {
   //max-width: rem(147);
   &::before {
    @include background(url("../img/benefits/delivery.svg"));
    width: rem(71);
    height: rem(42);
    top: rem(-50);
   }
  }
 }
}
//====================================================================================================
.technique {
 background-color: $bgColor;
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 // .technique__slider
 &__slider {
  display: none;
  @media (max-width: $mobile) {
   display: block;
  }
 } 
 // .technique__wrapper 
 &__wrapper {
  margin-bottom: rem(25);
 }
 // .technique__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: rem(29);
  @media (max-width: $mobile) {
   display: none;
  }
 }
 // .technique__item
 &__item {
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  transition: all 0.5s; 
  cursor: pointer;
  &:hover {
   border-color: $btnColor;
  }
 }
 // .technique__image
 &__image {
  border-top-left-radius: rem(10);
  border-top-right-radius: rem(10);
  width: 100%;
 }
 // .technique__item-content
 &__item-content {
  display: flex;
  flex-direction: column;
  padding: rem(15) rem(16) rem(20);
 }
 // .technique__item-title
 &__item-title {
  font-size: rem(18);
  line-height: math.div(24, 18);
  margin-bottom: rem(7);
 }
 // .technique__price
 &__price {
  line-height: math.div(24, 16);
  margin-bottom: rem(14);
 }
 // .technique__btn
 &__btn {
  padding: rem(13) 0;
  margin-top: auto;
 }
 // .technique__request
 &__request {
  @include background(url("../img/technique/request-bg.jpg"));
  background-position: bottom;
  border-radius: rem(10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 rem(30);
 }
 // .technique__request-title
 &__request-title {
  font-weight: 700;
  line-height: math.div(24, 16);
  color: $accentColor;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(30);
  position: relative; 
  &::before {
   @include pseudo;
   @include background(url("../img/icons/request-price.svg"));
   width: rem(54);
   height: rem(54);
   left: 50%;
   top: -65px;
   transform: translateX(-50% );
  }
 }
 // .technique__request-link
 &__request-link {
  width: rem(47);
  height: rem(47);
  background-color: $accentColor;
  border-radius: 50px;
  position: relative;
  border: rem(1) solid transparent;
  transition: all 0.5s;
  &:hover {
   border-color: $mainColor;
  }
  &::before {
   @include pseudo;
   @include background(url("../img/icons/arrow-green.svg"));
   width: rem(10);
   height: rem(18);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  }
 }
}
//========================================================================================================
.log-trucks {
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 // .log-trucks__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: rem(30);
 }
 // .log-trucks__item
 &__item {
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  transition: all 0.5s; 
  cursor: pointer;
  &:hover {
   border-color: $btnColor;
  }
 }
 // .log-trucks__item-link
 &__item-link {
 }
 // .log-trucks__image
 &__image {
  width: 100%;
 }
 // .log-trucks__info
 &__info {
  display: flex;
  flex-direction: column;
  padding: rem(20);
 }
 // .log-trucks__name 
 &__name {
  font-size: rem(18);
  font-weight: 700;
  line-height: math.div(24, 18);
  margin-bottom: rem(5);
 }
 // .log-trucks__price
 &__price {
  line-height: math.div(24, 16);
  margin-bottom: rem(19);
 }
 // .log-trucks__btn
 &__btn {
  padding: rem(13) 0;
 }
}
//=======================================================================================================
.advantages {
 @include adaptiveValue("padding-top", 60, 30);
 @include adaptiveValue("padding-bottom", 60, 30);
 background-color: $bgColor;
 // .advantages__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: rem(30);
 }
 // .advantages__item
 &__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #C7C7C7;
  transition: all 0.5s; 
  cursor: pointer;
  height: rem(105);
  position: relative;
  &:hover {
   border-color: $btnColor;
  }
  &::before {
   @include pseudo;
   left: rem(12);
   top: rem(22);
  }
  // .advantages__item_tech
  &_tech::before {
   @include background(url("../img/advantages/truck.svg"));
   width: rem(60);
   height: rem(57);
  }
  // .advantages__item_driver
  &_driver::before {
   @include background(url("../img/advantages/driver.svg"));
   width: rem(45);
   height: rem(54);
  }
  // .advantages__item_delivery
  &_delivery::before {
   @include background(url("../img/advantages/delivery.svg"));
   width: rem(63);
   height: rem(63);
   background-size: contain;
  }
 }
 // .advantages__name
 &__name {
  padding-left: rem(90);
  padding-right: rem(10);
 }
}
